@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');

.Editor {
  width: 70%;
}

.Chat {
  width: 30%;
  border: black 5px solid;
  border-radius: 0px 10px 10px 0px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.MainContent {
  width: 100%;
  display: flex;
  flex-direction: row;
}

* {
  padding: 0;
  margin: 0;
}

body {
  background-image: url("background.jpg");
  background-size: cover;
}

.InterviewLobby {
  font-family: 'Maven Pro', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 10px;
  width: 100%;
  display: flex;
  background-color: #f3f7f7;
}

header {
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

header>div {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: stretch;
}


#CompanyName {
  padding-left: 10px;
  font-family: 'Maven Pro', sans-serif;
  font-size: 30px;
  font-weight: 700;
}

.HeaderLogo {
  display: flex;
  flex-direction: row;
}

.LobbyLogo {
  width: 150px;
  height: 150px;
  justify-content: center;
  align-items: center;
}

.infoBtn {
  border: 0px;
  background-color: transparent;
  font-size: 15px;
}

.infoBtn:hover {
  background: #F6F9FE;
  color: #174ea6;
  text-decoration: underline;
}

.Logo {
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.startBtn {
  align-items: center;
  appearance: none;
  background-color: #fff;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px, rgba(0, 0, 0, .14) 0 6px 10px 0, rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-size: 16px;
  font-weight: 500;
  height: 48px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1), opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform, opacity;
  z-index: 0;
}

.startBtn:hover {
  background: #F6F9FE;
  color: #174ea6;
}

.startBtn:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

.startBtn:focus {
  outline: none;
  border: 2px solid #4285f4;
}

.startBtn:not(:disabled) {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.startBtn:not(:disabled):hover {
  box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
}

.startBtn:not(:disabled):focus {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.startBtn:not(:disabled):active {
  box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
}

.startBtn:disabled {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.MessageBox {
  font-family: 'Maven Pro', sans-serif;
}

.ProblemStatement {
  font-family: 'Maven Pro', sans-serif;
}

.MessageBox,
.loadingMessage {
  font-family: 'Maven Pro', sans-serif;
}

.SubmissionButton {
  position: fixed;
  bottom: 10px;
  left: 10px;
}

.Countdown {
  font-family: 'Maven Pro', sans-serif;
  font-size: 28px;
  font-weight: 700;
}