.Editor {
  width: 50%;
}

.Chat {
  width: 50%;
}

.MainContent {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

body {
  padding: 0;
  margin: 0;
}

.InterviewLobby {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}