body{
    background-image: url("background.jpg");
    background-size: cover;
}

.InterviewLobby {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('background.jpg');
    background-size: cover;
  }